.body_background 
{
    background-image: url("https://media.giphy.com/media/SUA9E0GcSyhCU/giphy.gif");
    background-position: center;
    background-size: cover;
}
#img1
{
    border-width:10px;
    width: 445px;
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 400px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}

#button1
{
	width: 200px;
	border-radius: 10px;
	margin-bottom: 10px;
}
